table {
    width: 60%;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    top: 30%;
    left: 20%;
}

table, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    height: 70px;
}

.box1 {
    width: 50%;
    background-color: rgba(0, 0, 0, 0.6);
    color: rgb(231, 230, 230);
}

.box2 {
    width: 50%;
    background-color: pink;
}

.box3 {
    width: 50%;
    background-color: rgb(170, 211, 236, 0.9);
}

.box4 {
    width: 50%;
    background-color: hsl(333, 51%, 77%, 0.9);
}

.box5 {
    background-color: rgb(75, 162, 216, 0.9);
}

.box6 {
    background-color: rgba(43, 3, 144, 0.9);
}

.box-button {
    background-color: rgb(238, 236, 236, 0.9);
    margin: auto;
}

#btnstart {
    display: block;
    margin: auto;
}

#btnstop {
    display: none;
    margin: auto;
}

#btnclear {
    margin: auto;
    display: none;
}